@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth page transitions */
html, body {
  @apply bg-nm_bg text-white min-h-screen overflow-x-hidden;
}

* {
  @apply transition-all duration-200;
}
